<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [link]="link"></app-page-title>
<div class="mb-5">
  <!-- <mat-form-field class="mr-3">  
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>  -->
  <mat-form-field class="mr-3">
    <mat-select placeholder="Merchant" name="merchant_id" id="merchant_id" [(ngModel)]="merchant_id"  >
      <mat-option value=""> Choose a Merchant</mat-option>
      <mat-option *ngFor="let merchant of merchants; let i = index" [value]="merchants[i].merchant_id">
        {{merchants[i].merchant_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="mr-3">
    <mat-select placeholder="Customer" name="customer_id" id="customer_id" [(ngModel)]="customer_id"  >
      <mat-option value=""> Choose a Customer</mat-option>
      <mat-option *ngFor="let customer of customers; let i = index" [value]="customers[i].customer_id">
        {{customers[i].customer_firstname}} {{customers[i].customer_lastname}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button class="mr-2 mat-raised-button mat-primary" (click)="Filter()" mat-button color="primary">Filter</button>
  <button class="mr-2 mat-raised-button" (click)="Reset()" mat-button1 ><i class="fa fa-refresh"></i></button>

  <button class="mat-raised-button pull-right" (click)="ExportCSV()" mat-button1 >CSV</button>

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="s_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
        <mat-cell *matCellDef="let inventory;let j=index;"> 
          {{ (j+1) + (myPaginator.pageIndex * myPaginator.pageSize) }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="voucher_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Voucher</mat-header-cell>
        <mat-cell *matCellDef="let inventory"> {{inventory.voucher_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="customer_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Customer</mat-header-cell>
        <mat-cell *matCellDef="let inventory"> {{inventory.customer_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="merchant_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Merchant</mat-header-cell>
        <mat-cell *matCellDef="let inventory"> {{inventory.merchant_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="inventory_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Order Type</mat-header-cell>
        <mat-cell *matCellDef="let inventory"> {{inventory.inventory_type}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="voucher_value">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Value</mat-header-cell>
        <mat-cell *matCellDef="let inventory"> $ {{inventory.voucher_value}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="voucher_expiry_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date</mat-header-cell>
        <mat-cell *matCellDef="let inventory"> {{inventory.voucher_expiry_date}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="inventory_created_on">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Order Date</mat-header-cell>
        <mat-cell *matCellDef="let inventory"> {{inventory.inventory_created_on}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="inventory_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
        <mat-cell *matCellDef="let inventory"> {{inventory.inventory_status}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #myPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
