<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>

<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Edit Template</h5>
    <form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
      <div class="position-relative row form-group"><label for="template_name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input name="name" id="template_name" placeholder="Enter template name" type="text" formControlName="template_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.template_name.errors }" >
        </div>
      </div>

      <div class="position-relative row form-group"><label for="template_description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <angular-editor formControlName="template_description" [ngClass]="{ 'is-invalid': submitted && f.template_description.errors }" [config]="wyswigconfig"></angular-editor>
        </div>
      </div>

      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="mb-2 mr-2 btn btn-secondary">Update</button>
          <a routerLink="/template"><button type="button" class="mb-2 mr-2 btn btn-light">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
</div>