<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>
<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">{{ heading }}</h5>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <div class="position-relative row form-group position_relative"><label for="role_id" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-10">
          <mat-form-field>
            <mat-select name="role_id" id="role_id" formControlName="role_id"  [ngClass]="{ 'is-invalid': submitted && f.role_id.errors }">
              <mat-option value=""> Choose a Role</mat-option>
              <mat-option *ngFor="let role of roles; let i = index" [value]="roles[i].role_id">
                {{roles[i].roles_title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      
      <div class="position-relative row form-group position_relative"><label for="firstname" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <input name="firstname" id="firstname" placeholder="Enter First name" type="text" formControlName="firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group position_relative"><label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <input name="lastname" id="lastname" placeholder="Enter Last name" type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group position_relative"><label for="email" class="col-sm-2 col-form-label">Email Address</label>
        <div class="col-sm-10">
            <input name="email" id="email" placeholder="Enter Email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group position_relative"><label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input name="username" id="username" placeholder="Enter Username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group position_relative"><label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input name="password" id="password" placeholder="Enter Password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group v"><label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
            <input name="confirm_password" id="confirm_password" placeholder="Enter Confirm Password" type="password" formControlName="confirm_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group position_relative">
        <label for="admin_profile" class="col-sm-2 col-form-label">Profile Picture</label>
        <div class="col-sm-10"><input name="profile" (change)="IconChange($event.target.files)" id="admin_profile" accept="image/*" type="file"  class=""  >
          <input type="hidden" formControlName="admin_profile" [ngClass]="{ 'is-invalid': submitted && f.admin_profile.errors }" />
			<div class="row"><div class="col-md-5  image-upload"><img [src]="preview_admin_profile" height="100" *ngIf="preview_admin_profile" onError="this.src='./assets/images/avatars/1.png';" /></div></div>
        </div>
      </div>
      <div class="position-relative row form-group position_relative"><label for="status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <select name="status" id="status" formControlName="status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
            <option value="A"> Active</option>
            <option value="I"> In-active</option>
          </select>
        </div>
      </div>
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="mb-2 mr-2 btn btn-secondary">Update</button>
          <a routerLink="/user"><button type="button" class="mb-2 mr-2 btn btn-light">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
  <div>
 
  </div>
</div>