<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>
<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">{{ heading }}</h5>
    <form [formGroup]="userForm">
      <div class="position-relative row form-group"><label for="firstname" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('firstname')}}</label>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('lastname')}}</label>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="email" class="col-sm-2 col-form-label">Email Address</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('email')}}</label>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('username')}}</label>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label for="admin_profile" class="col-sm-2 col-form-label">Profile Picture</label>
        <div class="col-sm-10">
            <div class="col-md-5  image-upload"><img [src]="preview_admin_profile" height="100" *ngIf="preview_admin_profile" onError="this.src='./assets/images/avatars/1.png';"/></div>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
            <label *ngIf="getControlLabel('status')=='A'">Active</label>
            <label *ngIf="getControlLabel('status')=='I'">In-Active</label>
        </div>
      </div>
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <a routerLink="/user"><button type="button" class="mb-2 mr-2 btn btn-light">Back</button></a>
        </div>
      </div>
    </form>
  </div>
  <div>
 
  </div>
</div>