<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>

<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Edit Poll</h5>
    <form [formGroup]="pollForm" (ngSubmit)="onSubmit()">
      <div class="position-relative row form-group position_relative"><label for="poll_name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input name="name" id="poll_name" placeholder="Enter Poll name" type="text" formControlName="poll_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.poll_name.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group position_relative"><label for="poll_description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <textarea name="description" id="poll_description" formControlName="poll_description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.poll_description.errors }" ></textarea>
        </div>
      </div>
      <div class="position-relative row form-group position_relative"><label for="poll_merchant_id" class="col-sm-2 col-form-label">Merchant</label>
        <div class="col-sm-10">
          <mat-form-field>
            <mat-select name="merchant_id" id="poll_merchant_id" formControlName="poll_merchant_id"  [ngClass]="{ 'is-invalid': submitted && f.poll_merchant_id.errors }">
              <mat-option value=""> Select a merchant</mat-option>
              <mat-option *ngFor="let merchant of merchants; let i = index" [value]="merchants[i].merchant_id">
                {{merchants[i].merchant_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="position-relative row form-group position_relative">
        <label for="exampleFile" class="col-sm-2 col-form-label">Featured Poll</label>
        <div class="col-sm-10"><input name="featured_poll" (change)="IconChange($event.target.files)" id="poll_featured_poll" accept="image/*" type="file"  class=""  >
          <input type="hidden" formControlName="poll_featured_poll" [ngClass]="{ 'is-invalid': submitted && f.poll_featured_poll.errors }" />
		<div class="row"><div class="col-md-5 image-upload"><img [src]="preview_featured_poll" height="100" *ngIf="preview_featured_poll"></div></div>
        </div>
      </div>
      <!-- <div class="position-relative row form-group"><label for="poll_sort_order" class="col-sm-2 col-form-label">Sort Order</label>
        <div class="col-sm-10">
            <input name="sort_order" id="poll_sort_order" placeholder="Enter sort order" type="text" formControlName="poll_sort_order" class="form-control"  >
        </div>
      </div> -->

      <div class="position-relative row form-group position_relative"><label for="poll_question" class="col-sm-2 col-form-label">Question</label>
        <div class="col-sm-10">
            <input name="question" id="poll_question" placeholder="Enter Poll Question" type="text" formControlName="poll_question" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.poll_question.errors }" >
        </div>
      </div>

      <div class="position-relative row form-group position_relative">
        <label class="col-sm-2 col-form-label">Options</label>
        <div class="col-sm-10">
          <input formControlName="poll_option1" class="mb-2 form-control" [ngClass]="{ 'is-invalid': submitted && f.poll_option1.errors }" placeholder="Option 1">
          <input formControlName="poll_option2" class="mb-2 form-control" [ngClass]="{ 'is-invalid': submitted && f.poll_option2.errors }" placeholder="Option 2">
          <input formControlName="poll_option3" class="mb-2 form-control" [ngClass]="{ 'is-invalid': submitted && f.poll_option3.errors }" placeholder="Option 3">
          <input formControlName="poll_option4" class="mb-2 form-control" [ngClass]="{ 'is-invalid': submitted && f.poll_option4.errors }" placeholder="Option 4">
        </div>
      </div>
      
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="mb-2 mr-2 btn btn-secondary">Update</button>
          <a routerLink="/poll"><button type="button" class="mb-2 mr-2 btn btn-light">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
  <div>
  
  </div>
</div>