<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>

<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">View Poll</h5>
    <form [formGroup]="pollForm">
      <div class="position-relative row form-group"><label for="poll_name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('poll_name')}}</label>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="poll_description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <label [innerHTML]="getControlLabel('poll_description')"></label>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="poll_merchant_name" class="col-sm-2 col-form-label">Merchant</label>
        <div class="col-sm-10">
          <label>{{getControlLabel('poll_merchant_name')}}</label>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label for="exampleFile" class="col-sm-2 col-form-label">Featured Poll</label>
        <div class="col-sm-10">
          <div class="col-md-5 image-upload"><img [src]="preview_featured_poll" height="100" *ngIf="preview_featured_poll"></div>
        </div>
      </div>
      <!-- <div class="position-relative row form-group"><label for="poll_sort_order" class="col-sm-2 col-form-label">Sort Order</label>
        <div class="col-sm-10">
            <input name="sort_order" id="poll_sort_order" placeholder="Enter sort order" type="text" formControlName="poll_sort_order" class="form-control"  >
        </div>
      </div> -->

      <div class="position-relative row form-group"><label for="poll_question" class="col-sm-2 col-form-label">Question</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('poll_question')}}</label>
        </div>
      </div>

      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label">Options</label>
        <div class="col-sm-10">
          <label>{{getControlLabel('poll_option1')}}</label><br>
          <label>{{getControlLabel('poll_option2')}}</label><br>
          <label>{{getControlLabel('poll_option3')}}</label><br>
          <label>{{getControlLabel('poll_option4')}}</label>
        </div>
      </div>

      <div class="position-relative row form-group" *ngIf="getControlLabel('poll_total_vote')>0">
        <label class="col-sm-2 col-form-label">Result</label>
        <div class="col-sm-10">
          <label>{{getControlLabel('poll_question')}}</label>
          <app-pie-chart [label]="label" [val]='val'></app-pie-chart>
        </div>
      </div>
      
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <a routerLink="/poll"><button type="button" class="mb-2 mr-2 btn btn-light">Back</button></a>
        </div>
      </div>
    </form>
  </div>
  <div>
  
  </div>
</div>