<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [link]="link"></app-page-title>
<div class="mb-5">
  <mat-form-field>  
    <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="search_key" placeholder="Search"> 
  </mat-form-field> 
  <button class="ml-2 mat-raised-button" (click)="clearFilters()" mat-button1 ><i class="fa fa-refresh"></i></button>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="s_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
        <mat-cell *matCellDef="let poll;let j=index;"> 
          {{ (j+1) + (myPaginator.pageIndex * myPaginator.pageSize) }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="poll_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let poll"> {{poll.poll_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="merchant_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Merchant</mat-header-cell>
        <mat-cell *matCellDef="let poll"> {{poll.merchant_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="poll_is_featured">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Featured</mat-header-cell>
        <mat-cell *matCellDef="let poll"> 
          <mat-slide-toggle (click)="featuredPoll(poll.poll_id)"  *ngIf="poll.poll_is_featured==1; else elseBlock" checked> </mat-slide-toggle>
          <ng-template #elseBlock><mat-slide-toggle (click)="featuredPoll(poll.poll_id)" > </mat-slide-toggle></ng-template>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="poll_created_on">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created on</mat-header-cell>
        <mat-cell *matCellDef="let poll"> {{poll.poll_created_on}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
        <mat-cell *matCellDef="let poll" >
            <a routerLink="/poll/view/{{ poll.poll_id }}"><button class="ml-2 btn-icon btn btn-icon-only" ><i class="fa fa-eye"></i></button></a>
            <a routerLink="/poll/edit/{{ poll.poll_id }}"><button class="ml-2 btn-icon btn btn-icon-only" ><i class="fa fa-edit"></i></button></a>
            <a (click)="deletePoll(poll.poll_id)"><button class="ml-2 btn-icon btn-icon-only btn"><i class="fa fa-trash"></i></button></a>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #myPaginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
