<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [link]="link"></app-page-title>

<div class="mb-5">
  <mat-form-field>  
    <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="search_key" placeholder="Search"> 
  </mat-form-field> 
  <button class="ml-2 mat-raised-button" (click)="clearFilters()" mat-button1 ><i class="fa fa-refresh"></i></button>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="s_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
        <mat-cell *matCellDef="let page;let j=index;"> 
          {{ (j+1) + (myPaginator.pageIndex * myPaginator.pageSize) }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="page_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let page"> {{page.page_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="page_router">
        <mat-header-cell *matHeaderCellDef mat-sort-header> URL</mat-header-cell>
        <mat-cell *matCellDef="let page"> {{page.page_router}} </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="page_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
        <mat-cell *matCellDef="let page"> {{page.page_status}} </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="page_created_on">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created on</mat-header-cell>
        <mat-cell *matCellDef="let page"> {{page.page_created_on}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
        <mat-cell *matCellDef="let page" >
            <a routerLink="/page/view/{{ page.page_id }}"><button class="ml-2 btn-icon btn btn-icon-only" ><i class="fa fa-eye"></i></button></a>
            <a routerLink="/page/edit/{{ page.page_id }}"><button class="ml-2 btn-icon btn btn-icon-only" ><i class="fa fa-edit"></i></button></a>
            <a (click)="deletePage(page.page_id)"><button class="ml-2 btn-icon btn-icon-only btn "><i class="fa fa-trash"></i></button></a>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #myPaginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
