<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>

<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Add Page</h5>
    <form [formGroup]="pageForm" (ngSubmit)="onSubmit()" class="admin-forms">
      <div class="position-relative row form-group"><label for="page_name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input name="name" id="page_name" placeholder="Enter page name" type="text" formControlName="page_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.page_name.errors }" >
        </div>
      </div>

      <div class="position-relative row form-group"><label for="page_router" class="col-sm-2 col-form-label">URL</label>
        <div class="col-sm-10">
            <input name="router" id="page_router" placeholder="Enter page URL (Use Undescore(_) instead of space( ))" type="text" formControlName="page_router" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.page_router.errors }" >
        </div>
      </div>

      <div class="position-relative row form-group"><label for="page_description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <angular-editor formControlName="page_description" [ngClass]="{ 'is-invalid': submitted && f.page_description.errors }" [config]="wyswigconfig"></angular-editor>
        </div>
      </div>

      <div class="position-relative row form-group"><label for="page_status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <select name="status" id="page_status" formControlName="page_status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.page_status.errors }">
            <option value="1"> Enable</option>
            <option value="0"> Disable</option>
          </select>
        </div>
      </div>

      <div class="position-relative row form-group"><label for="page_sort_order" class="col-sm-2 col-form-label">Sort Order</label>
        <div class="col-sm-10">
            <input name="sort_order" id="page_sort_order" placeholder="Enter Sort Order" type="text" formControlName="page_sort_order" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.page_sort_order.errors }" >
        </div>
      </div>

      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="mb-2 mr-2 btn btn-secondary">Submit</button>
          <a routerLink="/page"><button type="button" class="mb-2 mr-2 btn btn-light">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
</div>