<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>

<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">View Page</h5>
    <form [formGroup]="pageForm">
        <div class="position-relative row form-group"><label for="page_name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <label>{{getControlLabel('page_name')}}</label>
            </div>
        </div>
        <div class="position-relative row form-group"><label for="page_description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <label [innerHTML]="getControlLabel('page_description')"></label>
            </div>
        </div>
        <!-- <div class="position-relative row form-group"><label for="page_status" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
                <label *ngIf="getControlLabel('page_status')=='1'">Enabled</label>
                <label *ngIf="getControlLabel('page_status')=='0'">Disabled</label>
            </div>
        </div> -->
        <div class="position-relative row form-check">
            <div class="col-sm-10 offset-sm-2">
              <a routerLink="/page"><button type="button" class="mb-2 mr-2 btn btn-light">Back</button></a>
            </div>
        </div>
    </form>
  </div>
</div>