<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
<div class="mb-5">
  <mat-form-field>  
    <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="search_key" placeholder="Search"> 
  </mat-form-field> 
  <mat-form-field class="mr-3">
    <mat-select placeholder="Status" [(ngModel)]="filter_status">
      <mat-option value="A">Active</mat-option>
      <mat-option value="R">Requested</mat-option>
      <mat-option value="C">Redeemed</mat-option> 
    </mat-select> 
  </mat-form-field>
  <button class="mr-2 mat-raised-button mat-primary" (click)="Filter()" mat-button color="primary">Filter</button>
  <button class="ml-2 mat-raised-button" (click)="clearFilters()" mat-button1 >Reset</button> 
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="s_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
        <mat-cell *matCellDef="let voucher;let j=index;"> 
          {{ (j+1) + (myPaginator.pageIndex * myPaginator.pageSize) }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="voucher_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Voucher Name</mat-header-cell>
        <mat-cell *matCellDef="let voucher"> {{voucher.voucher_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="customer_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name</mat-header-cell>
        <mat-cell *matCellDef="let voucher"> {{voucher.customer_firstname}} {{ voucher.customer_lastname }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="customer_email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Email</mat-header-cell>
        <mat-cell *matCellDef="let voucher"> {{voucher.customer_email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="voucher_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
        <mat-cell *matCellDef="let voucher"> {{voucher.voucher_status}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
        <mat-cell *matCellDef="let voucher" >
            <span *ngIf="voucher.voucher_status=='Redeemed'" class="sucess-loop"><button class="ml-2 btn btn-light"><i class="fa fa-check" ></i></button></span>
            <span *ngIf="voucher.voucher_status=='Expired'" class="expired-loop"><button class="ml-2 btn btn-light"><i class="fa fa-exclamation-triangle" ></i></button></span>
            
          <button class="ml-2 btn btn-light" title="Voucher Edit" *ngIf="(voucher.voucher_status=='Requested'||voucher.voucher_status=='Active') && voucher.voucher_type=='Earned'" (click)="VoucherChange(voucher.my_voucher_id, voucher.voucher_customer_id)"><i class="fa fa-pencil" ></i></button>
        
            <button class="ml-2 btn btn-light button_hide" *ngIf="voucher.voucher_status=='Requested'  && voucher.voucher_type!='Earned'" title="Voucher Edit"><i class="fa fa-pencil" ></i></button> 

          <button class="ml-2 btn btn-primary" *ngIf="voucher.voucher_status=='Requested'" (click)="RedeemComplete(voucher.my_voucher_id, voucher.voucher_customer_id)">Accept</button>
          <button class="ml-2 btn btn-light" title="Request Delete" *ngIf="voucher.voucher_status!='Active' && voucher.voucher_status!='Expired'" (click)="DeleteRequest(voucher.my_voucher_id,voucher.voucher_status)"><i class="fa fa-trash" ></i></button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #myPaginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
