<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [link]="link"></app-page-title>
<div class="mb-5">
  <mat-form-field>  
    <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="search_key" placeholder="Search"> 
  </mat-form-field> 
  <button class="ml-2 mat-raised-button" (click)="clearFilters()" mat-button1 ><i class="fa fa-refresh"></i></button>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="s_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
        <mat-cell *matCellDef="let voucher;let j=index;"> 
          {{ (j+1) + (myPaginator.pageIndex * myPaginator.pageSize) }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="voucher_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let voucher"> {{voucher.voucher_name}} </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="voucher_expiry_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date</mat-header-cell>
        <mat-cell *matCellDef="let voucher"> {{voucher.voucher_expiry_date}} </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="voucher_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Type</mat-header-cell>
        <mat-cell *matCellDef="let voucher"> {{voucher.voucher_type}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="merchant_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Merchant</mat-header-cell>
        <mat-cell *matCellDef="let voucher"> {{voucher.merchant_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="voucher_buy_amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Voucher Price</mat-header-cell>
        <mat-cell *matCellDef="let voucher"> S${{voucher.voucher_buy_amount}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="voucher_stock">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Available Stock</mat-header-cell>
        <mat-cell *matCellDef="let voucher"> {{voucher.voucher_stock}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="voucher_admin_approved">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Approved Status</mat-header-cell>
        <mat-cell *matCellDef="let voucher"> 
          <mat-slide-toggle (click)="approvedVoucher(voucher.voucher_id)"  *ngIf="voucher.voucher_admin_approved==1; else elseBlock" checked> </mat-slide-toggle>
          <ng-template #elseBlock><mat-slide-toggle (click)="approvedVoucher(voucher.voucher_id)" > </mat-slide-toggle></ng-template>
        </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="voucher_redeem_limit">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Redeem Limit</mat-header-cell>
        <mat-cell *matCellDef="let voucher"> {{voucher.voucher_redeem_limit}} </mat-cell>
      </ng-container> -->
      <!-- <ng-container matColumnDef="voucher_is_featured">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Featured</mat-header-cell>
        <mat-cell *matCellDef="let voucher"> 
          <mat-slide-toggle (click)="featuredVoucher(voucher.voucher_id)"  *ngIf="voucher.voucher_is_featured==1; else elseBlock" checked> </mat-slide-toggle>
          <ng-template #elseBlock><mat-slide-toggle (click)="featuredVoucher(voucher.voucher_id)" > </mat-slide-toggle></ng-template>
        </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="voucher_created_on">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created on</mat-header-cell>
        <mat-cell *matCellDef="let voucher"> {{voucher.voucher_created_on}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
        <mat-cell *matCellDef="let voucher" class="voucher-list-new">
            <a routerLink="/voucher/view/{{ voucher.voucher_id }}"><button class="ml-2 btn-icon btn btn-icon-only" ><i class="fa fa-eye"></i></button></a>
            <a routerLink="/voucher/edit/{{ voucher.voucher_id }}"><button class="ml-2 btn-icon btn btn-icon-only" ><i class="fa fa-edit"></i></button></a>
            <a (click)="deleteVoucher(voucher.voucher_id)"><button class="ml-2 btn-icon btn-icon-only btn"><i class="fa fa-trash"></i></button></a>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #myPaginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
