<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>

<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Add Category</h5>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="admin-forms">
      <div class="position-relative row form-group"><label for="category_name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input name="name" id="category_name" placeholder="Enter Category Name" type="text" formControlName="category_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category_name.errors }" >
        </div>
      </div>

      <div class="position-relative row form-group">
        <label for="category_image" class="col-sm-2 col-form-label">Image</label>
        <div class="col-sm-10"><input name="image" (change)="IconChange($event.target.files)" id="category_image" accept="image/*" type="file"  class=""  >
          <input type="hidden" formControlName="category_image" [ngClass]="{ 'is-invalid': submitted && f.category_image.errors }" />
          <div class="row">
            <div class="col-md-5 image-upload"><img [src]="preview_category_image" height="100" *ngIf="preview_category_image"/></div>
          </div>
        </div>
      </div>

      <div class="position-relative row form-group"><label for="category_status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <select name="status" id="category_status" formControlName="category_status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category_status.errors }">
            <option value="1"> Enable</option>
            <option value="0"> Disable</option>
          </select>
        </div>
      </div>
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="mb-2 mr-2 btn btn-secondary">Submit</button>
          <a routerLink="/category"><button type="button" class="mb-2 mr-2 btn btn-light">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
</div>