<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>

<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">View Category</h5>
    <form [formGroup]="categoryForm">
        <div class="position-relative row form-group"><label for="category_name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <label>{{getControlLabel('category_name')}}</label>
            </div>
        </div>

        <div class="position-relative row form-group">
            <label for="exampleFile" class="col-sm-2 col-form-label">Image</label>
            <div class="col-sm-10">
              <div class="col-md-5 image-upload"><img [src]="preview_category_image" height="100" *ngIf="preview_category_image"></div>
            </div>
        </div>

        <div class="position-relative row form-group"><label for="category_status" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
                <label *ngIf="getControlLabel('category_status')=='1'">Enabled</label>
                <label *ngIf="getControlLabel('category_status')=='0'">Disabled</label>
            </div>
        </div>
        <div class="position-relative row form-check">
            <div class="col-sm-10 offset-sm-2">
              <a routerLink="/category"><button type="button" class="mb-2 mr-2 btn btn-light">Back</button></a>
            </div>
        </div>
    </form>
  </div>
</div>