<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [link]="link"></app-page-title>
<div class="mb-5">
  <mat-form-field>  
    <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="search_key" placeholder="Search"> 
  </mat-form-field> 
  <button class="ml-2 mat-raised-button" (click)="clearFilters()" mat-button1 ><i class="fa fa-refresh"></i></button> 
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="s_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
        <mat-cell *matCellDef="let quest;let j=index;"> 
          {{ (j+1) + (myPaginator.pageIndex * myPaginator.pageSize) }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="quest_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let quest"> {{quest.quest_name}} </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="quest_expiry_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date</mat-header-cell>
        <mat-cell *matCellDef="let quest"> {{quest.quest_expiry_date}} </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="merchant_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Merchant</mat-header-cell>
        <mat-cell *matCellDef="let quest"> {{quest.merchant_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="voucher_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Voucher</mat-header-cell>
        <mat-cell *matCellDef="let quest"> {{quest.voucher_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="quest_limit_option">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Limit Option</mat-header-cell>
        <mat-cell *matCellDef="let quest"> {{quest.quest_limit_option}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="quest_limit">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Limit</mat-header-cell>
        <mat-cell *matCellDef="let quest"> {{quest.quest_limit}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="quest_is_featured">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Featured</mat-header-cell>
        <mat-cell *matCellDef="let quest"> 
          <mat-slide-toggle (click)="featuredQuest(quest.quest_id)"  *ngIf="quest.quest_is_featured==1; else elseBlock" checked> </mat-slide-toggle>
          <ng-template #elseBlock><mat-slide-toggle (click)="featuredQuest(quest.quest_id)" > </mat-slide-toggle></ng-template>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="quest_admin_approved">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Approved Status</mat-header-cell>
        <mat-cell *matCellDef="let quest"> 
          <mat-slide-toggle (click)="approvedQuest(quest.quest_id)"  *ngIf="quest.quest_admin_approved==1; else elseBlock" checked> </mat-slide-toggle>
          <ng-template #elseBlock><mat-slide-toggle (click)="approvedQuest(quest.quest_id)" > </mat-slide-toggle></ng-template>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="quest_created_on">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created on</mat-header-cell>
        <mat-cell *matCellDef="let quest"> {{quest.quest_created_on}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
        <mat-cell *matCellDef="let quest" class="voucher-list-new">
            <a routerLink="/quest/view/{{ quest.quest_id }}"><button class="ml-2 btn-icon btn btn-icon-only" ><i class="fa fa-eye"></i></button></a>
            <a routerLink="/quest/edit/{{ quest.quest_id }}"><button class="ml-2 btn-icon btn btn-icon-only" ><i class="fa fa-edit"></i></button></a>
            <a (click)="deleteQuest(quest.quest_id)"><button class="ml-2 btn-icon btn-icon-only btn"><i class="fa fa-trash"></i></button></a>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #myPaginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
