<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
<div class="row">
	<div class="col-lg-12 col-xl-6" *ngIf="home_data">
	    <div class="main-card mb-3 card">
	      <div class="grid-menu grid-menu-2col overflow-hidden">
	        <div class="no-gutters row">
	          <div class="col-sm-6">
	            <a href="javascript:void(0);" routerLink="/customer"><div class="widget-chart widget-chart-hover">
	              <div class="icon-wrapper rounded-circle">
	                <div class="icon-wrapper-bg bg-success"></div>
	                <i class="fa fa-users text-success"></i></div>
	              <div class="widget-numbers">{{ home_data.total_customers }}</div>
	              <div class="widget-subheading">Total Customers</div>
	            </div></a>
	          </div>
	          <div class="col-sm-6">
	            <a href="javascript:void(0);" routerLink="/merchant"><div class="widget-chart widget-chart-hover">
	              <div class="icon-wrapper rounded-circle">
	                <div class="icon-wrapper-bg bg-info"></div>
	                <i class="fa fa-simplybuilt text-info"></i>
	              </div>
	              <div class="widget-numbers">{{ home_data.total_merchants }}</div>
	              <div class="widget-subheading">Total Merchants</div>
	            </div></a>
	          </div>
	          <div class="col-sm-6">
	            <a href="javascript:void(0);" routerLink="/voucher"><div class="widget-chart widget-chart-hover">
	              <div class="icon-wrapper rounded-circle">
	                <div class="icon-wrapper-bg bg-danger"></div>
	                <i class="fa fa-ticket text-danger"></i>
	              </div>
	              <div class="widget-numbers">{{ home_data.total_vouchers }}</div>
	              <div class="widget-subheading">Total Vouchers</div>
	            </div></a>
	          </div>
	          <div class="col-sm-6">
	            <a href="javascript:void(0);" routerLink="/quest"><div class="widget-chart widget-chart-hover br-br">
	              <div class="icon-wrapper rounded-circle">
	                <div class="icon-wrapper-bg bg-primary"></div>
	                <i class="fa fa-cubes text-primary"></i></div>
	              <div class="widget-numbers">{{ home_data.total_quests }}</div>
	              <div class="widget-subheading">Total Quests</div>
	            </div></a>
	          </div>
	        </div>
	      </div>
	    </div>
  	</div>
</div>
