<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
     (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <a routerLink="/"><div class="logo-src"></div></a>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
              [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar>
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <div class="vsm-header">General</div>
            <div class="vsm-item" *ngIf="disactive.user">
              <a routerLink="/user" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-user-o"></i>
                <span class="vsm-title">Admin Users</span>
              </a>
            </div>
            <div class="vsm-item" *ngIf="disactive.role">
              <a routerLink="/role" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-clone"></i>
                <span class="vsm-title">Admin Roles</span>
              </a>
            </div>
            <div class="vsm-item" *ngIf="disactive.category">
              <a routerLink="/category" routerLinkActive="active-item" class="vsm-link">
                  <i class="vsm-icon fa fa-folder-o"></i>
                  <span class="vsm-title">Category</span>
              </a>
            </div>
            <div class="vsm-item" *ngIf="disactive.merchant">
              <a routerLink="/merchant" routerLinkActive="active-item" class="vsm-link">
                  <i class="vsm-icon fa fa-simplybuilt"></i>
                  <span class="vsm-title">Merchants</span>
              </a>
            </div>
            <div class="vsm-item" *ngIf="disactive.voucher">
              <a routerLink="/voucher" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-ticket"></i>
                <span class="vsm-title">Vouchers</span>
              </a>
            </div>
            <div class="vsm-item" *ngIf="disactive.redeem_requests">
              <a routerLink="/redeem_requests" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-ticket"></i>
                <span class="vsm-title">Voucher Redeem Requests</span>
              </a>
            </div>
            <div class="vsm-item" *ngIf="disactive.quest">
              <a routerLink="/quest" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-cubes"></i>
                <span class="vsm-title">Quests</span>
              </a>
            </div> 
            <div class="vsm-item" *ngIf="disactive.complete_requests">
              <a routerLink="/complete_requests" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-cubes"></i>
                <span class="vsm-title">Quest Complete Requests</span>
              </a>
            </div>           
            <!-- <div class="vsm-item" *ngIf="disactive.poll">
              <a routerLink="/poll" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-archive"></i>
                <span class="vsm-title">Polls</span>
              </a>
            </div> -->
            <div class="vsm-item" *ngIf="disactive.orders">
              <a routerLink="/orders" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-money"></i>
                <span class="vsm-title">Orders</span>
              </a>
            </div>
            <div class="vsm-item" *ngIf="disactive.customer">
              <a routerLink="/customer" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-users"></i>
                <span class="vsm-title">Customers</span>
              </a>
            </div>
            <div class="vsm-item" *ngIf="disactive.page">
              <a routerLink="/page" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-clone"></i>
                <span class="vsm-title">Pages</span>
              </a>
            </div>
            <div class="vsm-item" *ngIf="disactive.settings">
              <a routerLink="/settings" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-cog"></i>
                <span class="vsm-title">Settings</span>
              </a>
            </div>
            <div class="vsm-item" *ngIf="disactive.faqs">
              <a routerLink="/faqs" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-question"></i>
                <span class="vsm-title">FAQs</span>
              </a>
            </div>
            <div class="vsm-item" *ngIf="disactive.template">
              <a routerLink="/template" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-clone"></i>
                <span class="vsm-title">Email Templates</span>
              </a>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
