<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [link]="link"></app-page-title>
<div class="mb-5">
  <!-- <mat-form-field class="mr-3">  
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>  -->
  <mat-form-field class="mr-3" style="display: none;">
    <mat-select placeholder="Merchant" name="merchant_id" id="merchant_id" [(ngModel)]="merchant_id"  >
      <mat-option value=""> Choose a Merchant</mat-option>
      <mat-option *ngFor="let merchant of merchants; let i = index" [value]="merchants[i].merchant_id">
        {{merchants[i].merchant_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="mr-3">
    <mat-select placeholder="Customer" name="customer_id" id="customer_id" [(ngModel)]="customer_id"  >
      <mat-option value=""> Choose a Customer</mat-option>
      <mat-option *ngFor="let customer of customers; let i = index" [value]="customers[i].customer_id">
        {{customers[i].customer_firstname}} {{customers[i].customer_lastname}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button class="mr-2 mat-raised-button mat-primary" (click)="Filter()" mat-button color="primary">Filter</button>
  <button class="mr-2 mat-raised-button" (click)="Reset()" mat-button1 ><i class="fa fa-refresh"></i></button>

  <button class="mat-raised-button pull-right" (click)="ExportCSV()" mat-button1 >CSV</button>

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="s_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
        <mat-cell *matCellDef="let order;let j=index;"> 
          {{ (j+1) + (myPaginator.pageIndex * myPaginator.pageSize) }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="order_ref_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Order Ref. ID</mat-header-cell>
        <mat-cell *matCellDef="let order"> #{{order.order_ref_id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="customer_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Customer</mat-header-cell>
        <mat-cell *matCellDef="let order"> {{order.customer_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="order_total">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount</mat-header-cell>
        <mat-cell *matCellDef="let order"> $ {{order.order_total}} </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="order_payment_mode">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Mode</mat-header-cell>
        <mat-cell *matCellDef="let order"> {{order.order_payment_mode}} </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="order_payment_method">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Method</mat-header-cell>
        <mat-cell *matCellDef="let order"> {{order.order_payment_method}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="order_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Order Status</mat-header-cell>
        <mat-cell *matCellDef="let order"> {{order.order_status}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="order_created_on">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Order Date</mat-header-cell>
        <mat-cell *matCellDef="let order"> {{order.order_created_on}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
        <mat-cell *matCellDef="let order" >
            <a routerLink="/order/view/{{ order.order_id }}"><button class="ml-2 btn-icon btn btn-icon-only" ><i class="fa fa-eye"></i></button></a>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #myPaginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
