<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>
<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Order Details</h5>
      <div class="position-relative row form-group"><label for="merchant_name" class="col-sm-2 col-form-label">Order Reference ID</label>
          <div class="col-sm-10">
              <label>#{{ order_info.order_ref_id }}</label>
          </div>
      </div>
      <div class="position-relative row form-group"><label for="merchant_name" class="col-sm-2 col-form-label">Order Date</label>
          <div class="col-sm-10">
              <label>{{ order_info.order_created_on }}</label>
          </div>
      </div>
      <div class="position-relative row form-group"><label for="merchant_name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
              <label>{{ order_info.order_customer_name }}</label>
          </div>
      </div>
      <div class="position-relative row form-group"><label for="merchant_category_name" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
              <label>{{ order_info.order_customer_email }}</label>
          </div>
      </div>
      <div class="position-relative row form-group"><label for="merchant_category_name" class="col-sm-2 col-form-label">Payment Mode</label>
          <div class="col-sm-10">
              <label>{{ order_info.order_payment_mode }}</label>
          </div>
      </div>
      <div class="position-relative row form-group"><label for="merchant_category_name" class="col-sm-2 col-form-label">Payment Method</label>
          <div class="col-sm-10">
              <label>{{ order_info.order_payment_method }}</label>
          </div>
      </div>
      <div class="position-relative row form-group"><label for="merchant_category_name" class="col-sm-2 col-form-label">Payment Status</label>
          <div class="col-sm-10">
              <label>{{ order_info.order_payment_status }}</label>
          </div>
      </div>
      <div class="position-relative row form-group"><label for="merchant_category_name" class="col-sm-2 col-form-label">Order Status</label>
          <div class="col-sm-10">
              <label>{{ order_info.order_status }}</label>
          </div>
      </div>
      <div class="position-relative row form-group"><label for="merchant_category_name" class="col-sm-2 col-form-label">Order Items</label>
          <div class="col-sm-10">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Voucher</th>
                  <th scope="col">Merchant</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let order_item of order_info.order_items; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    {{ order_item.order_voucher_name }}
                  </td>
                  <td> {{ order_item.order_voucher_merchant_name }}</td>
                  <td> {{ order_item.order_voucher_quantity }}</td>
                  <td> $ {{ order_item.order_voucher_price }}</td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                  <td >Sub Total</td>
                  <td> $ {{ order_info.order_subtotal }}
                </tr>
                <tr>
                  <td colspan="3"></td>
                  <td >Total</td>
                  <td> $ {{ order_info.order_total }}
                </tr>
                </tbody>
              </table>
          </div>
      </div>
      <div class="position-relative row form-check">
          <div class="col-sm-10 offset-sm-2">
            <a routerLink="/order"><button type="button" class="mb-2 mr-2 btn btn-light">Back</button></a>
          </div>
      </div>
  </div>
</div>