<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [link]="link"></app-page-title>
<div class="mb-5">
  <mat-form-field>  
    <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="search_key" placeholder="Search"> 
  </mat-form-field> 
  <button class="ml-2 mat-raised-button" (click)="clearFilters()" mat-button1 ><i class="fa fa-refresh"></i></button>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="s_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
        <mat-cell *matCellDef="let customer;let j=index;"> 
          {{ (j+1) + (myPaginator.pageIndex * myPaginator.pageSize) }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="customer_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{customer.customer_firstname}} {{customer.customer_lastname}} </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="customer_lastname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{customer.customer_lastname}} </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="customer_email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email Address</mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{customer.customer_email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="customer_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{customer.customer_status}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="customer_last_loggedin">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Loggedin</mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{customer.customer_last_loggedin}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="customer_created_on">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created on</mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{customer.customer_created_on}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
        <mat-cell *matCellDef="let customer" class="voucher-list-new">
            <a routerLink="/customer/info/{{ customer.customer_id }}"><button class="ml-1 btn-icon btn btn-icon-only" ><i class="fa fa-info"></i></button></a>
            <a routerLink="/customer/view/{{ customer.customer_id }}"><button class="ml-1 btn-icon btn btn-icon-only" ><i class="fa fa-eye"></i></button></a>
            <a routerLink="/customer/edit/{{ customer.customer_id }}"><button class="ml-1 btn-icon btn btn-icon-only" ><i class="fa fa-edit"></i></button></a>
            <a (click)="deleteCustomer(customer.customer_id)"><button class="ml-1 btn-icon btn-icon-only btn "><i class="fa fa-trash"></i></button></a>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #myPaginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
