<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>
<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">View Customer</h5>
    <form [formGroup]="customerForm">
      <div class="position-relative row form-group"><label for="customer_firstname" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('customer_firstname')}}</label>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="customer_lastname" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('customer_lastname')}}</label>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="customer_email" class="col-sm-2 col-form-label">Email Address</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('customer_email')}}</label>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label for="customer_profile" class="col-sm-2 col-form-label">Profile Picture</label>
        <div class="col-sm-10">
          <div class="col-md-5 image-upload"><img [src]="preview_customer_profile" height="100" *ngIf="preview_customer_profile" onError="this.src='./assets/images/avatars/1.png';"/></div>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="customer_total_time" class="col-sm-2 col-form-label">Total Usage Time</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('customer_total_time')}} Minutes</label>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="customer_status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <label *ngIf="getControlLabel('customer_status')=='A'">Active</label>
          <label *ngIf="getControlLabel('customer_status')=='I'">In-Active</label>
        </div>
      </div>
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <a routerLink="/customer"><button type="button" class="mb-2 mr-2 btn btn-light">Back</button></a>
        </div>
      </div>
    </form>
  </div>
  <div>
   
  </div>
</div>