<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>
<div class="main-card mb-3 card" *ngIf="info">
  <div class="card-body">
  	<h5 class="card-title">Quest Accepted</h5>
  	<table class="table table-striped">
        <thead>
	        <tr>
				<th scope="col">#</th>
				<th scope="col">Quest</th>
				<th scope="col">Merchant</th>
				<th scope="col">Status</th>
				<th scope="col">Joined On</th>
				<th scope="col">Completed On</th>
	        </tr>
        </thead>
        <tbody *ngIf="info.quests_accepted">
        	<tr *ngFor="let quest_accepted of info.quests_accepted; index as i">
        		<td>{{ i + 1 }}</td>
        		<td>{{ quest_accepted.quest_name }}</td>
        		<td>{{ quest_accepted.merchant_name }}</td>
        		<td>{{ quest_accepted.quest_accepted_status }}</td>
        		<td>{{ quest_accepted.quest_accepted_created_on }}</td>
        		<td *ngIf="quest_accepted.quest_accepted_status=='Completed'">{{ quest_accepted.quest_accepted_updated_on }}</td>
        		<td *ngIf="quest_accepted.quest_accepted_status!='Completed'"></td>
        	</tr>
        </tbody>
        <tbody *ngIf="!info.quests_accepted">
        	<tr>
        		<td colspan="6" align="center">No Quests Accepted</td>
        	</tr>
        </tbody>
	</table>
  </div>
  <div class="card-body">
  	<h5 class="card-title">Voucher Purchased and Earned</h5>
  	<table class="table table-striped">
        <thead>
	        <tr>
				<th scope="col">#</th>
				<th scope="col">Voucher</th>
				<th scope="col">Merchant</th>
				<th scope="col">Status</th>
				<th scope="col">Earned / purchased On</th>
				<th scope="col">Redeemed On</th>
	        </tr>
        </thead>
        <tbody *ngIf="info.my_vouchers">
        	<tr *ngFor="let my_voucher of info.my_vouchers; index as j">
        		<td>{{ j+1 }}</td>
        		<td>{{ my_voucher.voucher_name }}</td>
        		<td>{{ my_voucher.voucher_merchant_name }}</td>
        		<td>{{ my_voucher.voucher_status }}</td>
        		<td>{{ my_voucher.voucher_created_on }}</td>
        		<td *ngIf="my_voucher.voucher_status=='Redeemed'">{{ my_voucher.voucher_updated_on }}</td>
        		<td *ngIf="my_voucher.voucher_status!='Redeemed'"></td>
        	</tr>
        </tbody>
        <tbody *ngIf="!info.my_vouchers">
        	<tr>
        		<td colspan="6" align="center">No Vouchers Earned / Purchased</td>
        	</tr>
        </tbody>
	</table>
  </div>
  <div class="position-relative row form-check">
    <div class="col-sm-10 offset-sm-2">
      <a routerLink="/customer"><button type="button" class="mb-2 mr-2 btn btn-light">Back</button></a>
    </div>
  </div>
</div>
