<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>
<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Add Customer</h5>
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()"  class="admin-forms">
      <div class="position-relative row form-group"><label for="customer_firstname" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <input name="firstname" id="customer_firstname" placeholder="Enter First name" type="text" formControlName="customer_firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customer_firstname.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group"><label for="customer_lastname" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <input name="lastname" id="customer_lastname" placeholder="Enter Last name" type="text" formControlName="customer_lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customer_lastname.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group"><label for="customer_email" class="col-sm-2 col-form-label">Email Address</label>
        <div class="col-sm-10">
            <input name="name" id="customer_email" placeholder="Enter Email" type="email" formControlName="customer_email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customer_email.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group"><label for="customer_password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input name="password" id="customer_password" placeholder="Enter Password" type="password" formControlName="customer_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customer_password.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group"><label for="customer_confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
            <input name="confirm_password" id="customer_confirm_password" placeholder="Enter Confirm Password" type="password" formControlName="customer_confirm_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customer_confirm_password.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group">
        <label for="customer_profile" class="col-sm-2 col-form-label">Profile Picture</label>
        <div class="col-sm-10"><input name="profile" (change)="IconChange($event.target.files)" id="customer_profile" accept="image/*" type="file"  class=""  >
          <input type="hidden" formControlName="customer_profile" [ngClass]="{ 'is-invalid': submitted && f.customer_profile.errors }" />
			<div class="row">
				<div class="col-md-5 image-upload"><img [src]="preview_customer_profile" height="100" *ngIf="preview_customer_profile"/></div>
			</div>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="customer_status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <select name="status" id="customer_status" formControlName="customer_status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customer_status.errors }">
            <option value="A"> Active</option>
            <option value="I"> In-active</option>
          </select>
        </div>
      </div>
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="mb-2 mr-2  btn btn-secondary">Submit</button>
          <a routerLink="/customer"><button type="button" class="mb-2 mr-2 btn btn-light">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
  <div>
<!--    <div class="col-md-5"><img [src]="preview_customer_profile" height="200" *ngIf="preview_customer_profile"/></div>-->
  </div>
</div>