
<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>
<div class="main-card mb-3 card faq-page-changes">
  <div class="card-body"><h5 class="card-title">FAQ</h5>
    <form [formGroup]="exampleForm" novalidate (ngSubmit)="save(exampleForm.value)" >

      <mat-card formArrayName="units">
        
        <div *ngFor="let unit of exampleForm.controls.units.controls; let i=index">
          
          <!-- row divider show for every nex row exclude if first row -->
          <mat-divider *ngIf="exampleForm.controls.units.controls.length > 1 && i > 0" ></mat-divider><br>
          
          <div [formGroupName]="i">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="center">           
              <mat-form-field  fxFlex="45%" class="mat_first" style="width: 46%; margin-right: 1%;">  
                <input matInput placeholder="Question" formControlName="question" required>  
                <mat-error *ngIf="unit.controls.question.invalid">
                    Question is required.        
                </mat-error>            
              </mat-form-field> 
              <mat-form-field class="example-full-width mat_last" style="width: 46%; margin-left: 1%;">
                <textarea matInput formControlName="answer" placeholder="Answer"></textarea>
                <mat-error *ngIf="unit.controls.answer.invalid">
                    Answer is required.        
                </mat-error>
              </mat-form-field> 
              <!-- <mat-form-field  fxFlex="45%"> 
                <input matInput placeholder="Answer" formControlName="answer" required>  
                <mat-error *ngIf="unit.controls.answer.invalid">
                    Answer is required.        
                </mat-error>            
              </mat-form-field>  -->
              <button type="button" fxFlex="10%" mat-mini-fab color="warn" style="margin-left: 1%;" fxFlex="nogrow"  
                  *ngIf="exampleForm.controls.units.controls.length > 1" (click)="removeUnit(i)" >
                  <i class="fa fa-trash"></i>
              </button>
             
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button type="button" mat-raised-button (click)="addUnit()">
            Add FAQ
          </button>
        </mat-card-actions>
      </mat-card>  
      <br>
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="mb-2 mr-2 btn btn-secondary">Submit</button>
          <a routerLink="/"><button type="button" class="mb-2 mr-2 btn btn-light">Cancel</button></a>
        </div>
      </div>   

    </form>
  </div>
</div>