<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>

<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Add Merchant</h5>
    <form [formGroup]="merchantForm" (ngSubmit)="onSubmit()" class="admin-forms">
      <div class="position-relative row form-group"><label for="merchant_name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input name="name" id="merchant_name" placeholder="Enter merchant name" type="text" formControlName="merchant_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.merchant_name.errors }" >
        </div>
      </div>

      <div class="position-relative row form-group"><label for="merchant_category_id" class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-10">
          <mat-form-field>
            <mat-select name="category_id" id="merchant_category_id" formControlName="merchant_category_id"  [ngClass]="{ 'is-invalid': submitted && f.merchant_category_id.errors }">
              <mat-option value=""> Choose a Category</mat-option>
              <mat-option *ngFor="let category of categorys; let i = index" [value]="categorys[i].category_id">
                {{categorys[i].category_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="position-relative row form-group"><label for="email" class="col-sm-2 col-form-label">Email Address</label>
        <div class="col-sm-10">
            <input name="email" id="email" placeholder="Enter Email" type="email" formControlName="merchant_email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.merchant_email.errors }" >
        </div>
      </div>
      
      <div class="position-relative row form-group"><label for="merchant_description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <angular-editor formControlName="merchant_description" [ngClass]="{ 'is-invalid': submitted && f.merchant_description.errors }" [config]="wyswigconfig"></angular-editor>
        </div>
      </div>

      <div class="position-relative row form-group">
        <label for="merchant_logo" class="col-sm-2 col-form-label">Logo</label>
        <div class="col-sm-10"><input name="logo" (change)="IconChange($event.target.files)" id="merchant_logo" accept="image/*" type="file"  class=""  >
          <input type="hidden" formControlName="merchant_logo" [ngClass]="{ 'is-invalid': submitted && f.merchant_logo.errors }" />
          <div class="row">
            <div class="col-md-5 profile-picture"><img [src]="preview_merchant_logo" height="100" *ngIf="preview_merchant_logo"/></div>
          </div>
        </div>
      </div>

      <div class="position-relative row form-group"><label for="merchant_status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <select name="status" id="merchant_status" formControlName="merchant_status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.merchant_status.errors }">
            <option value="1"> Enable</option>
            <option value="0"> Disable</option>
          </select>
        </div>
      </div>
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="mb-2 mr-2 btn btn-secondary">Submit</button>
          <a routerLink="/merchant"><button type="button" class="mb-2 mr-2 btn btn-light">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
</div>