<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>

<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Add Role</h5>
    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()" class="admin-forms">
      <div class="position-relative row form-group"><label for="roles_title" class="col-sm-2 col-form-label">Role Name</label>
        <div class="col-sm-10">
            <input name="name" id="roles_title" placeholder="Enter role name" type="text" formControlName="roles_title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.roles_title.errors }" >
        </div>
      </div>

      <div class="position-relative row form-group"><label for="privilege" class="col-sm-2 col-form-label">Privilege</label>
        <div class="col-sm-10">
          <select name="status" id="privilege" formControlName="privilege" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.privilege.errors }">
            <option value="all"> All</option>
            <option value="custom"> Custom</option>
          </select>
        </div>
      </div>

      <div class="position-relative row " *ngIf="showDiv"><label for="permissions" class="col-sm-2 col-form-label">Permissions</label>
        <div class="col-sm-5">
          <!-- <mat-checkbox class="example-margin" (change)="onModuleChange($event, 'UserModule')" value="/user/">Admin Users</mat-checkbox> -->
          <div *ngFor="let user of users; let i = index" >
              <mat-checkbox class="example-margin" [checked]="user.checked" [disabled]="user.disabled" (change)="onChange($event)" [value]="user.value">{{user.title}}</mat-checkbox>
          </div> 
          <br>
          <div *ngFor="let role of roles; let i = index" >
              <mat-checkbox class="example-margin" [checked]="role.checked" [disabled]="role.disabled" (change)="onChange($event)" [value]="role.value">{{role.title}}</mat-checkbox>
          </div> 
          <br>
          <div *ngFor="let category of categorys; let i = index" >
              <mat-checkbox class="example-margin" [checked]="category.checked" [disabled]="category.disabled" (change)="onChange($event)" [value]="category.value">{{category.title}}</mat-checkbox>
          </div> 
          <br>
          <div *ngFor="let merchant of merchants; let i = index" >
              <mat-checkbox class="example-margin" [checked]="merchant.checked" [disabled]="merchant.disabled" (change)="onChange($event)" [value]="merchant.value">{{merchant.title}}</mat-checkbox>
          </div> 
          <br>
          <div *ngFor="let voucher of vouchers; let i = index" >
              <mat-checkbox class="example-margin" [checked]="voucher.checked" [disabled]="voucher.disabled" (change)="onChange($event)" [value]="voucher.value">{{voucher.title}}</mat-checkbox>
          </div>
          <br>
          <div *ngFor="let redeem_request of redeem_requests; let i = index" >
              <mat-checkbox class="example-margin" [checked]="redeem_request.checked" [disabled]="redeem_request.disabled" (change)="onChange($event)" [value]="redeem_request.value">{{redeem_request.title}}</mat-checkbox>
          </div> 
          <br>
          <div *ngFor="let quest of quests; let i = index" >
              <mat-checkbox class="example-margin" [checked]="quest.checked" [disabled]="quest.disabled" (change)="onChange($event)" [value]="quest.value">{{quest.title}}</mat-checkbox>
          </div> 
        </div>
        <div class="col-sm-5">
          <div *ngFor="let complete_request of complete_requests; let i = index" >
              <mat-checkbox class="example-margin" [checked]="complete_request.checked" [disabled]="complete_request.disabled" (change)="onChange($event)" [value]="complete_request.value">{{complete_request.title}}</mat-checkbox>
          </div> 
          <br>
          <div *ngFor="let poll of polls; let i = index" >
              <mat-checkbox class="example-margin" [checked]="poll.checked" [disabled]="poll.disabled" (change)="onChange($event)" [value]="poll.value">{{poll.title}}</mat-checkbox>
          </div>
          <br>
          <div *ngFor="let order of orders; let i = index" >
              <mat-checkbox class="example-margin" [checked]="order.checked" [disabled]="order.disabled" (change)="onChange($event)" [value]="order.value">{{order.title}}</mat-checkbox>
          </div>
          <br>
          <div *ngFor="let customer of customers; let i = index" >
              <mat-checkbox class="example-margin" [checked]="customer.checked" [disabled]="customer.disabled" (change)="onChange($event)" [value]="customer.value">{{customer.title}}</mat-checkbox>
          </div>
          <br>
          <div *ngFor="let page of pages; let i = index" >
              <mat-checkbox class="example-margin" [checked]="page.checked" [disabled]="page.disabled" (change)="onChange($event)" [value]="page.value">{{page.title}}</mat-checkbox>
          </div>
          <br>
          <div *ngFor="let setting of settings; let i = index" >
              <mat-checkbox class="example-margin" [checked]="setting.checked" [disabled]="setting.disabled" (change)="onChange($event)" [value]="setting.value">{{setting.title}}</mat-checkbox>
          </div>
          <br>
          <div *ngFor="let faq of faqs; let i = index" >
              <mat-checkbox class="example-margin" [checked]="faq.checked" [disabled]="faq.disabled" (change)="onChange($event)" [value]="faq.value">{{faq.title}}</mat-checkbox>
          </div>
          <br>
          <div *ngFor="let template of templates; let i = index" >
              <mat-checkbox class="example-margin" [checked]="template.checked" [disabled]="template.disabled" (change)="onChange($event)" [value]="template.value">{{template.title}}</mat-checkbox>
          </div>

          <!-- <mat-checkbox checked=true disabled=true value="/user/">Admin User</mat-checkbox><br>
          <mat-checkbox value="/user/add">Admin User Add</mat-checkbox><br>
          <mat-checkbox value="/user/edit">Admin User Edit</mat-checkbox><br>
          <mat-checkbox value="/user/delete">Admin User Delete</mat-checkbox><br><br>
          <mat-checkbox value="/role/">Admin Roles</mat-checkbox><br>
          <mat-checkbox value="/role/add">Admin Roles Add</mat-checkbox><br>
          <mat-checkbox value="/role/edit">Admin Roles Edit</mat-checkbox><br>
          <mat-checkbox value="/role/delete">Admin Roles Delete</mat-checkbox><br><br>
          <mat-checkbox value="/category/">Category</mat-checkbox><br>
          <mat-checkbox value="/category/add">Category Add</mat-checkbox><br>
          <mat-checkbox value="/category/edit">Category Edit</mat-checkbox><br>
          <mat-checkbox value="/category/delete">Category Delete</mat-checkbox><br><br>
          <mat-checkbox value="/merchant/">Merchant</mat-checkbox><br>
          <mat-checkbox value="/merchant/add">Merchant Add</mat-checkbox><br>
          <mat-checkbox value="/merchant/edit">Merchant Edit</mat-checkbox><br>
          <mat-checkbox value="/merchant/delete">Merchant Delete</mat-checkbox><br><br>
          <mat-checkbox value="/voucher/">Voucher</mat-checkbox><br>
          <mat-checkbox value="/voucher/add">Voucher Add</mat-checkbox><br>
          <mat-checkbox value="/voucher/edit">Voucher Edit</mat-checkbox><br>
          <mat-checkbox value="/voucher/delete">Voucher Delete</mat-checkbox><br><br> -->
        </div>
      </div>


      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="mb-2 mr-2 btn btn-secondary">Submit</button>
          <a routerLink="/role"><button type="button" class="mb-2 mr-2 btn btn-light">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
</div>